body {
  overflow: auto;
  height: 50000px;
  margin:0px;
}
@font-face {
    font-family: coolAstroFont;
    src: url(../css/Superdie.otf);
}
@font-face {
  font-family: lobster;
    src: url(../css/lobster-1.4.eot),
         url(../css/lobster-1.4.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
#skrollr-body {
  width: 100%;
  height: 100%;
  position: fixed;
}
#skrollr-body div {
  overflow: hidden;
  position: absolute;
}
.centered {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px;
}
#bgintro {
  background: url('../images/bg/backgroundintro.png');
  background-size: auto 100%;
  background-repeat: repeat-x;
  z-index: 8;
}
#bg1 {
  background: url('../images/bg/background.png');
  background-size: auto 100%;
  background-repeat: repeat-x;
  z-index: 7;
}
#andrew {
  background: url('../images/mis/andrew.png') no-repeat;
  background-size: 550px 100px;
  z-index: 9;
}
#banner {
  background: url('../images/mis/banner.png') no-repeat;
  background-size: 330px 75px;
  z-index: 9;
}
#bannertitle {
  z-index: 10;
  font-family: lobster;
  font-size: 30px;
  color: white;
}
#bear {
  background: url('../images/mis/Jetbear_Idle.gif') no-repeat;
  background-size: 125px 125px;
  z-index: 9;
}
#spartfish {
  background: url('../images/mis/Spartafish_Idle.gif') no-repeat;
  background-size: 125px 125px;
  z-index: 9;
}
#coin {
  background: url('../images/mis/coin.gif') no-repeat;
  background-size: 65px 65px;
  z-index: 9;
}
#text {
  color: burlywood;
  z-index: 10;
  font-family: coolAstroFont;
  font-size: 40px;
}
#bullet {
  background: url('../images/mis/Shoot_2.gif') no-repeat;
  background-size: 40px 40px;
  z-index: 11;
}
#introTitle {
  color: red;
  z-index: 10;
  font-family: coolAstroFont;
  font-size: 40px;
}
#skills {
  z-index: 11;
}
#aboutme {
  background: url('../images/mis/aboutmebanner.png') no-repeat;
  background-size: 330px 70px;
  z-index: 11;
}
#greenlights {
  background: url('../images/mis/greenlight.png') no-repeat;
  background-size: 149px 97px;
  z-index: 11;
}
#bomb {
  background: url('../images/mis/bomb.png') no-repeat;
  background-size: 73px 73px;
  z-index: 11;
}